.jumbotron{
  background-color: #D8BFD8;
  color:#2F383D  ;
  margin-top: 30px;

}
.footer{
  padding: 10px 10px 0 10px;
  background-color:#78C2EF;
  margin-bottom: 0px;
  margin-top: 100px;
  color:#2F383D;
}
.btn{
  color:#87E49E;
  background-color: blue;
  margin-bottom: 10px;
}

.footer-address-icon{
  padding-right: 20px;
}
